@use "sass:color";
@use "../abstracts/variables" as v;
@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

.an-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
  width: 100%;

  &__label {
    @include m.text-style(1.3rem, 500, 1, v.$font-main);
    color: c.clr("text", "main");
    transition: color 0.3s ease;
  }

  &__input {
    width: 100%;
    padding: 1.4rem 2rem;
    background-color: c.clr("bg", "surface");
    border: 0.15rem solid c.clr("brand", "secondary");
    border-radius: v.$radius-md;
    font-family: v.$font-main;
    font-size: 1.6rem;
    color: c.clr("text", "main");
    transition: all 0.3s ease;
    outline: none;

    &::placeholder {
      color: color.adjust(c.clr("text", "light"), $alpha: -0.4);
    }

    &:focus {
      border-color: c.clr("brand", "primary");
      box-shadow: 0 0 0 0.4rem
        color.adjust(c.clr("brand", "primary"), $alpha: -0.9);
    }
  }

  // --- Nuevo Elemento: Mensaje de Error ---
  &__feedback-message {
    @include m.text-style(1.2rem, 400, 1.2, v.$font-main);
    margin-top: 0.4rem;
    display: none;
  }

  @mixin field-state($state-color) {
    .an-field__label {
      color: $state-color;
    }
    .an-field__input {
      border-color: $state-color;
      background-color: color.adjust(
        $state-color,
        $lightness: 45%,
        $alpha: -0.95
      );
      &:focus {
        box-shadow: 0 0 0 0.4rem color.adjust($state-color, $alpha: -0.9);
      }
    }
    .an-field__feedback-message {
      display: block;
      color: $state-color;
    }
  }

  // --- MODIFICADORES DE ESTADO SEMÁNTICOS ---
  &--success {
    @include field-state(c.clr("feedback", "success"));
  }
  &--danger,
  &--error {
    @include field-state(c.clr("feedback", "danger"));
  }
  &--warning {
    @include field-state(c.clr("feedback", "warning"));
  }
  &--info {
    @include field-state(c.clr("feedback", "info"));
  }
}
